# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~

.DS_Store

_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv

Debug
.vs
Release

*-backups
*-backups


Gerbers
Gerbers.zip
kicad/esp32/pdf
tl2c-esp32-1.zip

